---
import Layout from '../../../layouts/Component.astro';
import ComponentSectionNav from '../../../components/ComponentSectionNav.astro';
import UsageSection from './_sections/Usage.astro';
import MultipleSection from './_sections/Multiple.astro';
import componentsDetails from '../../../_data/componentsDetails.json';
import ApiPanel from '../../../components/ApiPanel.astro';

const title = 'Accordion';
const description = 'An accordion is a vertically stacked list of headers that reveal or hide associated sections of content.';
const comp = componentsDetails.components.find((comp: any) => comp.metadata.name === title);



const sections = [
  {
    'title': 'Usage',
    'Component': UsageSection,
  },
  {
    'title': 'Multiple',
    'Component': MultipleSection,
  },
];
---
<Layout title={title}>

  <goat-tabs class='page-tabs'>
    <goat-tabs-list>
      <goat-tab selected='true'>Overview</goat-tab>
      <goat-tab>Playground</goat-tab>
      <goat-tab>API</goat-tab>
    </goat-tabs-list>
    <goat-tab-panel>
      <div class='component-overview-tab'>

        <div class='component-content'>
          <div class='component-description'>
            <goat-text type='body' expressive>{description}</goat-text>
          </div>

          {
            sections.map((section) => (
              <div id={`section-${section.title.toLowerCase().replace(' ', '-').replace('/', '-')}`}
                   class='component-section'>
                <goat-text type='heading' heading-size='4'>{section.title}</goat-text>
                <section.Component></section.Component>
              </div>))
          }

        </div>

        <ComponentSectionNav sections={sections} />
      </div>


    </goat-tab-panel>
    <goat-tab-panel>
      <ApiPanel comp={comp} />
    </goat-tab-panel>
  </goat-tabs>
</Layout>
