---
interface Props {
  component: any;
}

const {component} = Astro.props;
---

{ component &&
<div class='card-wrapper'>
  <goat-card shadow-level='md' class='card'>
    <goat-card-content class='header card-header' data-tag={component.tag}>
      {
        component.metadata.example
          ? <Fragment set:html={component.metadata.example} />
          : <goat-image src={component.metadata.img} dark-src={component.metadata.imgDark}/>
      }
    </goat-card-content>

    <goat-card-content class='body'>
      <goat-text class='text' type='heading' heading-size='3'>{component.metadata.name}&nbsp;
        <goat-link href={`/components?filter=${component.metadata.category}`}>
          <goat-tag class='color-blue'
                    tag={component.metadata.category}>{component.metadata.category}</goat-tag>
        </goat-link>
      </goat-text>
      <goat-text class='text'>{component.metadata.description}</goat-text>
    </goat-card-content>
  </goat-card>
</div>}
