---
import site from '../../site.json';
export interface Props {
	title: string;
}

const { title } = Astro.props;
const description = Astro.props.description || site.description;
const css = JSON.parse(Astro.props.css) || [];
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<!-- Favicon -->
    <link rel='shortcut icon' href='/assets/img/favicon.svg'>

    <!--  Meta tags -->
    <meta name='keywords' content='web components, goat button, goat input, goat grid, goat ui library' />

    <meta name='description' content={description} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- CSS Implementing Plugins -->
    <link rel='stylesheet' href={site.themeCss} />
    <style>
      * {
        box-sizing: border-box;
      }

      body {
        position: relative;
        margin: 0;
        padding: 0;
        font-family: var(--font-family-base);
      }

      html {
        background-color: var(--background);
        scroll-behavior: smooth;
        visibility: hidden;
      }

      html.hydrated {
        visibility: visible;
      }

      :root {
        --header-height: 4rem;
      }

      .top-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
      }

      .container {
        padding: var(--spacing-5);
      }

      figure {
        margin: 0;
      }

      .show-desktop {
        display: inline-block;
      }

      .show-mobile {
        display: none;
      }

      @media only screen and (max-width: 600px) {
        .show-desktop {
          display: none;
        }

        .show-mobile {
          display: inline-block;
        }
      }
    </style>

 {css.map((data) => <link rel='stylesheet' type='text/css' media='screen' href={data}/>)}

     <script type='module' src={site.script}></script>
     <script data-ad-client='ca-pub-3120721550776061' async src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'></script>
	</head>
	<body itemscope itemtype='http://schema.org/WebPage'>
		<slot />

		<goat-notification-manager position='bottom-right'></goat-notification-manager>

    <!-- JS Implementing Plugins -->
    <script is:inline src='/assets/js/main.js'></script>
    <script is:inline>
      myConsole = {
        log: function(message) {
          window.dispatchEvent(new CustomEvent('goat:notification', {
            detail: {
              subtitle: `<pre>${message}</pre>`,
              state: 'success',
            },
          }));
        },
        warn: function(message) {
          window.dispatchEvent(new CustomEvent('goat:notification', {
            detail: {
              subtitle: `<pre>${message}</pre>`,
              state: 'warning',
            },
          }));
        },
      };
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src='https://www.googletagmanager.com/gtag/js?id=G-YVVYZC1HFF'></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-YVVYZC1HFF');
    </script>

	</body>
</html>
