---
interface Props {
  title?: string;
  description?: string;
  root?: boolean;
  keywords?: any;
}

const { title, root, description, keywords } = Astro.props;
import site from '../_data/site.json';
import '../styles/base.layout.scss';

const isProd = import.meta.env.PROD;
let envProps;

if (isProd) {
  envProps = site['prod'];
} else {
  envProps = site['dev'];
}

function getKeywords() {
  if (keywords) {
    return Astro.props.title + ', ' + keywords;
  } else {
    return 'Web component, ' + Astro.props.title;
  }
}
const pageTitle = title ? `${title}  &middot; ${site.title}` : `${site.title} &middot; ${site.tagline}`
---

<!DOCTYPE html>
<html lang='en'>
<head>
  <!-- Title -->
  <title set:html={pageTitle}></title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8"/>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
  <link rel="sitemap" href="/sitemap-index.xml" />

  <link rel='canonical' href={Astro.url + ''} />

  <!-- Author Meta Tags -->
  <meta name='author' content={site.author} />
  <meta name='copyright' content={`(c) ${new Date().getFullYear()} ${site.author}`} />

  <!--  Meta tags -->
  <meta name='keywords' content={getKeywords()} />
  <meta name='description' content={description ? description : site.description} />

  <!-- Favicon -->
  <link rel='shortcut icon' href='/assets/img/favicon.svg' />

  <link rel="dns-prefetch" href="https://fonts.gstatic.com" />

  <!- Styles -->
  <link rel='stylesheet' href={envProps.themeCss} />

  <!-- GoatUI scripts -->
  <script type='module' src={envProps.script}></script>

  <script type='module' define:vars={{ envProps }}>
    if (!window.customElements.get('goat-button')) {
      import(envProps.fallbackScript);

      var fileref = document.createElement("link");
      fileref.rel = "stylesheet";
      fileref.type = "text/css";
      fileref.href = envProps.fallbackThemeCss;
      document.getElementsByTagName("head")[0].appendChild(fileref)
      console.warn("USING FALLBACK GOATUI");
    }
  </script>
</head>
<body>

<slot />

<goat-notification-manager position='bottom-right'></goat-notification-manager>

<slot name='page-end'/>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async is:inline src='https://www.googletagmanager.com/gtag/js?id=G-YVVYZC1HFF'></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }

  gtag('js', new Date());
  gtag('config', 'G-YVVYZC1HFF');
</script>
</body>
</html>
