---
import site from '../_data/site.json';
interface Props {
  componentDetails: any;
}

const {componentDetails} = Astro.props;

import Layout from './Default.astro';
import componentsDetails from '../_data/componentsDetails.json';
import '../styles/component.layout.scss';

const title = componentDetails.metadata.name;
const description = componentDetails.metadata.description;

---

<Layout title={title} description={description} classes='bg-layer-01'>

  <div class='sidenav m-hide'>

    <div class='sidenav-components'>

      <goat-tree-view class='bg-layer-01' value={title} selected-node={title}>
        <goat-tree-node label="Overview" href='/components'></goat-tree-node>

        {
          componentsDetails.categories.map((category) => {
            if (!category.hide) {
              return <goat-tree-node label={category.name}>
                {
                  category.components.map((component) => {
                    if (component.metadata.name) {
                      return <goat-tree-node label={component.metadata.name} href={`/components/${component.tag.replace('goat-', '')}`}></goat-tree-node>
                    }
                  })
                }
              </goat-tree-node>
            }
          })
        }

      </goat-tree-view>

    </div>

  </div>
  <div class='main-content'>
    <div class='page-container'>

      <goat-breadcrumb>
        <goat-breadcrumb-item href="/">Home</goat-breadcrumb-item>
        { title != "Overview" ? <goat-breadcrumb-item href="/components">Components</goat-breadcrumb-item> : '' }
        <goat-breadcrumb-item active>{title}</goat-breadcrumb-item>
      </goat-breadcrumb>

      <div class='comp-header'>
        <goat-text class='comp-title heading-scrollable' type='heading' heading-size='6'>{title}</goat-text>


        { componentDetails.metadata.category == 'Up coming' ? <goat-tag color='red'>Work in progress</goat-tag>  : '' }
      </div>


      <slot/>

      <div class='comments-section'>
        <div id='disqus_thread'></div>
        <script is:inline type="text/javascript" async="true" src="//goatui.disqus.com/embed.js"></script>
        <noscript>Please enable JavaScript to view the <a href='https://disqus.com/?ref_noscript'>comments powered by Disqus.</a></noscript>
      </div>
    </div>

    <div class='footer container'>
      <goat-divider></goat-divider>
      <div class='footer-content'>
        <goat-text type='legal' expressive>
          &copy; {new Date().getFullYear()} <goat-link href={site.author_url}>{site.author}</goat-link>. All Rights Reserved.
        </goat-text>
      </div>

    </div>
  </div>


</Layout>
