---
interface Props {
  title?: string;
  description?: string;
  root?: boolean;
  keywords?: string;
  classes?: string;
}

const { title, root, description, keywords, classes } = Astro.props;

import Layout from './Base.astro';
import site from '../_data/site.json';
import componentsDetails from '../_data/componentsDetails.json';

const searchItems = componentsDetails.components.map(component => ({
  label: component.metadata.name,
  value: component.tag.replace('goat-', ''),
}));
---

<Layout title={title} description={description} keywords={keywords}>

  <nav class='top-nav'>
    <goat-header color='white' dark-mode-color='black' class={`header ${!root ? 'border' : ''}`}>
      <div slot='left'>
        <goat-header-brand logo='/assets/img/logo.svg' href='/#' name={site.title}></goat-header-brand>


        <goat-header-action
          class='hide-tablet-portrait-below'
          href='/components#'>
          Docs
        </goat-header-action>

        <goat-header-action
          class='hide-tablet-portrait-below'
          href='/components#'>
          Components
        </goat-header-action>

      </div>

      <div slot='right'>


        <goat-header-action
          id='search-btn'
          aria-label='Search'
          icon='search'>
        </goat-header-action>

        <div id='search-header-container'>
          <div id='search-container-overlay'></div>
          <goat-select id='site-search'
                       search='contains'
                       layer='01'
                       hide-dropdown-icon
                       placeholder="Type '/' for search">
            <goat-icon slot='start' name='search' size='1rem'></goat-icon>
          </goat-select>
        </div>




        <goat-button
          color='primary'
          size='sm'
          variant='simple'
          target='_blank'
          class='hide-tablet-portrait-below sponsor-btn'
          href='https://github.com/sponsors/shivajivarma'>
          Sponsor
        </goat-button>

        <goat-divider class='header-divider hide-tablet-portrait-below' vertical></goat-divider>

        <goat-header-action
          class='dir-switcher hide-tablet-portrait-below'
          aria-label='Direction switcher'
        >LTR
        </goat-header-action>

        <goat-header-action
          id='theme-switcher'
          icon='sun'
          class='theme-switcher'
          aria-label='Theme switcher'></goat-header-action>

        <goat-header-action
          icon='logo--github'
          aria-label='View Github'
          href={`https://github.com/${site.github_username}/${site.github_project}`}
          target='_blank'
        ></goat-header-action>

        <goat-header-action
          class='show-tablet-portrait-below'
          aria-label='Menu'
          id='header-menu-btn'
          icon='menu'></goat-header-action>
      </div>


    </goat-header>

  </nav>

  <div id='header-menu'>
    <div class='header-menu-head'>
      <goat-button
        id='header-menu-close-btn'
        variant='ghost'
        icon='close--large'
        color='secondary'
        size='lg'
        dark-mode-color='white'
        aria-label='Close menu'
      ></goat-button>
    </div>

    <goat-menu class='header-menu-list no-border'>
      <goat-menu-item href='/components#'>
        <goat-icon name='roadmap' slot="start" size="sm"></goat-icon>&nbsp;
        Components
      </goat-menu-item>
      <goat-menu-item href='/blog#'>
        <goat-icon name='blog' slot="start" size="sm"></goat-icon>&nbsp;
        Blog
      </goat-menu-item>
      <goat-menu-item href='https://github.com/sponsors/shivajivarma' target='_blank'
                      icon='roadmap'>
        <goat-icon name='currency--rupee' slot="start" size="sm"></goat-icon>&nbsp;
        Sponsor
      </goat-menu-item>
    </goat-menu>
  </div>

  <main class={classes}>

    <slot />
  </main>

  <script is:inline define:vars={{ searchItems }}>
    document.addEventListener('DOMContentLoaded', function() {
      const searchBtn = document.querySelector('#search-btn');
      const searchContainerOverlay = document.querySelector('#search-container-overlay');
      const search = document.querySelector('#site-search');

      searchBtn.addEventListener('click', function() {
        const searchContainer = document.querySelector('#search-header-container');
        searchContainer.toggleAttribute('open');
        setTimeout(() => {
          search.openSelectList();
        }, 300);
      });


      searchContainerOverlay.addEventListener('click', function() {
        const searchContainer = document.querySelector('#search-header-container');
        searchContainer.removeAttribute('open');
      });


      if (search) {
        // prettier-ignore
        search.items = searchItems;
        search.items = search.items.filter(item => !!item.label);
        search.addEventListener('goat-select--change', function(e) {
          window.location.href = '/components/' + e.detail.value;
        });

        search.addEventListener('goat-select--enter', function(e) {
          if (e.detail.currentItems.length > 0)
            window.location.href = '/components/' + e.detail.currentItems[0].value;
        });

        document.addEventListener('keydown', function(e) {

          if (e.key === '/') {
            const path = e.composedPath();
            for (const elm of path) {
              if (elm.tagName === 'GOAT-INPUT' || elm.tagName === 'GOAT-CODE-EDITOR' || elm.tagName === 'GOAT-TEXTAREA') {
                return;
              }
            }
            e.preventDefault();
            search.open = true;
            setTimeout(() => {
              search.setFocus();
            }, 300);
          }
        });
      }
    });
  </script>
</Layout>
