---
interface Props {
  title?: string;
  description?: string;
  root?: boolean;
  keywords?: string;
  classes?: string;
}

const { title, root, description, keywords, classes } = Astro.props;

import Layout from './Base.astro';
import site from '../_data/site.json';
import componentsDetails from '../_data/componentsDetails.json';

const getTitle = (root?: boolean) => {
  return (!root) ? title : '';
};
---

<Layout title={title} description={description} keywords={keywords}>

  <nav class='top-nav'>
    <goat-header color="brand-secondary" class={`actions-separated ${!root ? 'border' : ''}`}>
      <div slot='left'>
        <goat-header-brand logo='/assets/img/logo.svg' href='/#' name={site.title}
                           sub-title={getTitle(root)}></goat-header-brand>
      </div>

      <div slot='right'>

        {!root &&
          (
            <goat-select id='site-search'
                         class='hide-mobile'
                         search='contains'
                         layer='01'
                         hide-dropdown-icon
                         placeholder="Type '/' for search">
              <goat-icon slot='start' name='search' size='1rem'></goat-icon>
            </goat-select>
            <script is:inline  define:vars={{ componentsDetails }}>
              document.addEventListener('DOMContentLoaded', function() {
                const search = document.querySelector('#site-search');

                // prettier-ignore
                search.items = componentsDetails.components.map(component => ({
                  label: component.metadata.name,
                  value: component.tag.replace('goat-', ''),
                }));
                search.items = search.items.filter(item => !!item.label);
                search.addEventListener('goat:change', function(e) {
                  window.location.href = '/components/' + e.detail.value;
                });

                search.addEventListener('goat:search-enter', function(e) {
                  if (e.detail.currentItems.length > 0)
                    window.location.href = '/components/' + e.detail.currentItems[0].value;
                });

                document.addEventListener('keydown', function(e) {
                  if (e.key === '/') {
                    e.preventDefault();
                    search.open = true;
                    setTimeout(() => {
                      search.setFocus();
                    }, 300);
                  }
                });
              });
              </script>)
        }

        <goat-header-action
          id='theme-switcher'
          icon='sun'
          class='theme-switcher'
          aria-label='Theme switcher'></goat-header-action>

        <goat-header-action id='dir-switcher' class='hide-tablet-landscape-below'>LTR</goat-header-action>

        <goat-header-action
          href='/blog#'>
          Blog
        </goat-header-action>

        <goat-header-action
          class='hide-tablet-portrait-below'
          href='https://opencollective.com/goat-ui-components#support'>
          Become a backer
        </goat-header-action>

        {root ?
          (
            <goat-header-action
              icon='logo--github'
              aria-label='View Github'
              href={`https://github.com/${site.github_username}/${site.github_project}`}
              target='_blank'
            ></goat-header-action>)
          :
          (
            <goat-header-action
              class='show-desktop'
              href={`https://github.com/${site.github_username}/${site.github_project}/issues`}
              target='_blank'
            >Report Issue
            </goat-header-action>

            <goat-header-action
              icon='logo--github'
              aria-label='Report Issue'
              class='hide-desktop'
              href={`https://github.com/${site.github_username}/${site.github_project}/issues`}
              target='_blank'
            ></goat-header-action>)
        }
      </div>

    </goat-header>
  </nav>

  <main class={classes}>
    <slot />
  </main>

</Layout>
